aclocal.m4
ar-lib
aspeed_lpc.o
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
/.deps
install-sh
Makefile
Makefile.in
memboot
memboot.o
missing
pnorboot
pnorboot.o
stamp-h1
*.swp
tags
TAGS
